.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 225px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  font-family: 'Permanent Marker', cursive;
}

.card > .img-container {
  height: 70%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  /* padding-left: 1rem; */
  padding-right: 1rem;
  text-align: left;
  font-size: 12px;
  font-family: 'Permanent Marker', cursive;
}

.card > .content > ul {
  list-style-type: none;
  font-family: 'Permanent Marker', cursive;
}

.card > .content > ul > li {
  margin-top: 18px;
  font-family: 'Permanent Marker', cursive;
}


/* .card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
} */
