.header {
    width: 100%;
    font-size: 2rem;
    color: #ff2600;
    font-family: 'Permanent Marker', cursive;
  }
  
  .scores {
    float: center;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: -90px;
  }